:root {
    --block-auth__dropdown__padding: var(--indent__m);
    --block-auth__dropdown__background-color: var(--color-white);
    --block-auth__or-label__size: 36px;
    --block-auth__width: 0;
    --block-auth__border: 1px solid var(--color-gray-light3);
}

.authentication-dropdown {
    box-sizing: border-box;

    .modal-inner-wrap {
        padding: var(--block-auth__dropdown__padding);
    }
}

.authentication-wrapper {
    float: right;
    margin-top: calc(-1.5 * var(--indent__xl));
    max-width: 50%;
    position: relative;
    z-index: 1;

    ._has-auth-shown & {
        z-index: var(--modal__z-index);
    }
}

.action-auth-toggle {
    //&:extend(.abs-action-button-as-link all);
}

.block-authentication {
    .block-title {
        font-size: var(--h3__font-size);
        border-bottom: 0;
        margin-bottom: var(--indent__m);

        strong {
            font-weight: var(--font-weight__light);
        }
    }

    .field {
        .label {
            font-weight: var(--font-weight__regular);
        }
    }

    .actions-toolbar {
        margin-bottom: var(--indent__xs);

        > .secondary {
            padding-top: var(--indent__m);
            text-align: left;
        }
    }

    .action.action-register,
    .action.action-login {
        //&:extend(.abs-button-l all);
    }

    .block[class] {
        margin: 0;

        ul {
            list-style: none;
            padding-left: var(--indent__s);
        }

        .field {
            .control,
            .label {
                float: none;
                width: auto;
            }
        }

        & + .block {
            border-top: 1px solid var(--color-gray-light5);
            margin-top: var(--indent__xl);
            padding-top: var(--indent__xl);
            position: relative;

            &:before {
                height: var(--block-auth__or-label__size);
                line-height: var(--block-auth__or-label__size) - 2px;
                margin: calc(-1 * (var(--block-auth__or-label__size) / 2 + 1px)) 0 0 calc(-1 * (var(--block-auth__or-label__size) / 2));
                min-width: var(--block-auth__or-label__size);
                background: var(--color-white);
                border: 1px solid var(--color-gray-light5);
                border-radius: 50%;
                box-sizing: border-box;
                color: var(--color-gray-light5);
                content: attr(data-label);
                display: inline-block;
                left: 50%;
                letter-spacing: normal;
                padding: 0 .2rem;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                top: 0;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    .authentication-dropdown {
        background-color: var(--block-auth__dropdown__background-color);
        border: var(--block-auth__border);
        -webkit-transform: scale(1,0);
        -webkit-transform-origin: 0 0;
        -webkit-transition: -webkit-transform linear .1s, visibility 0s linear .1s;
        position: absolute;
        text-align: left;
        top: 100%;
        transform: scale(1,0);
        transform-origin: 0 0;
        transition: transform linear .1s, visibility 0s linear .1s;
        visibility: hidden;
        width: 100%;

        &._show {
            z-index: var(--dropdown-list__z-index);
            -webkit-transform: scale(1,1);
            -webkit-transition: -webkit-transform linear .1s, visibility 0s linear 0s;
            transform: scale(1,1);
            transition: transform linear .1s, visibility 0s linear 0s;
            visibility: visible;
        }
    }

    .authentication-wrapper {
        //.lib-column-width(var(--checkout-sidebar__columns));
        text-align: right;
    }

    .block-authentication {
        .block-title {
            font-size: var(--h2__font-size);
            border-bottom: 0;
            margin-bottom: var(--indent__m);
        }

        .actions-toolbar {
            > .primary {
                display: inline;
                float: right;
                margin-right: 0;
                .action {
                    margin-right: 0;
                }
            }

            > .secondary {
                float: left;
                margin-right: 2rem;
                padding-top: 1rem;
            }
        }
    }

    .popup-authentication {
        .modal-inner-wrap {
            min-width: var(--screen__m);
            width: 60%;
        }

        .block-authentication {
            //.lib-vendor-prefix-display(flex);
            //.lib-vendor-prefix-flex-direction(row);
            border-top: 1px solid var(--color-gray-light5);
        }

        .block[class],
        .form-login,
        .fieldset,
        .block-content {
            //.lib-vendor-prefix-display(flex);
            //.lib-vendor-prefix-flex-direction(column);
            //.lib-vendor-prefix-flex-grow(1);
        }

        .block[class] {
            box-sizing: border-box;
            float: left;
            padding: var(--indent__s) var(--indent__l) 0 0;
            width: 50%;

            & + .block {
                border-left: 1px solid var(--color-gray-light5);
                border-top: 0;
                margin: 0;
                padding: var(--indent__s) 0 0 var(--indent__xl);

                &:before {
                    left: 0;
                    top: 50%;
                }
            }
        }

        .actions-toolbar {
            margin-bottom: 0;
            margin-top: auto;
        }
    }
}
