// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

:root {
    --checkout-wrapper__margin: var(--indent__base);
    --checkout-wrapper__columns: 8;

    --checkout-step-title__border: var(--border-width__base) solid var(--color-gray80);
    --checkout-step-title__font-size: 26px;
    --checkout-step-title__font-weight: var(--font-weight__light);
    --checkout-step-title__padding: var(--indent__s);

    --checkout-step-title-mobile__font-size: 18px;
}

//
//  Common
//  _____________________________________________

.checkout-index-index {
    .page-title-wrapper {
        //&:extend(.abs-visually-hidden all);
    }
}

.checkout-container {
    //&:extend(.abs-add-clearfix all);
    margin: 0 0 var(--checkout-wrapper__margin);
}

.opc-wrapper {
    margin: 0 0 var(--checkout-wrapper__margin);

    .opc {
        //&:extend(.abs-reset-list all);
    }

    .step-title {
        //&:extend(.abs-checkout-title all);
    }

    .step-content {
        margin: 0 0 var(--indent__xl);
    }
}

.checkout-index-index {
    .nav-sections,
    .nav-toggle {
        display: none;
    }

    .logo {
        margin-left: 0;
    }
}

.checkout-onepage-success {
    //&:extend(.abs-add-clearfix all);

    .print {
        display: none;
    }
}

//
//  Mobile
//  _____________________________________________

@media (max-width: env(--screen__s)) {
    .opc-wrapper {
        .step-title {
            font-size: var(--checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    .opc-wrapper {
        //&:extend(.abs-add-box-sizing-desktop-m all);
        //.lib-layout-column(2, 1, var(--checkout-wrapper__columns));
        padding-right: var(--indent__l);
    }

    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 22px 0 0;
        }
    }
}
