// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

.checkout-agreements-block {
    .checkout-agreements {
        margin-bottom: var(--indent__base);
    }

    .checkout-agreement.field {
        //.lib-vendor-prefix-display();

        &.required {
            label:after {
                content: none;
            }

            .action-show {
                &:after {
                    content: '*';
                    //.lib-typography(
                    //    var(--_font-size): var(--form-field-label-asterisk__font-size),
                    //    var(--_color): var(--form-field-label-asterisk__color),
                    //    var(--_font-family): var(--form-field-label-asterisk__font-family),
                    //    var(--_font-weight): var(--form-field-label-asterisk__font-weight),
                    //    var(--_line-height): var(--form-field-label-asterisk__line-height),
                    //    var(--_font-style): var(--form-field-label-asterisk__font-style)
                    //);
                }
            }
        }
    }

    .action-show {
        //&:extend(.abs-action-button-as-link all);
        vertical-align: baseline;
    }
}

//  Checkout Agreements in popup
.checkout-agreements-items {
    //&:extend(.abs-reset-list all);
    padding-bottom: var(--indent__l);

    .checkout-agreements-item {
        margin-bottom: var(--indent__base);
    }

    .checkout-agreements-item-title {
        //&:extend(.abs-checkout-title all);
        border-bottom: 0;
    }
}

//  Checkout Agreements
.checkout-agreement-item-content {
    overflow: auto;
}
