//
//  Checkout Estimated Total
//  ---------------------------------------------

.opc-estimated-wrapper {
    //&:extend(.abs-add-clearfix all);
    border-bottom: var(--border-width__base) solid var(--color-gray80);
    margin: 0 0 15px;
    padding: 18px 15px;

    .estimated-block {
        font-size: var(--checkout-step-title-mobile__font-size);
        font-weight: var(--font-weight__bold);
        float: left;

        .estimated-label {
            display: block;
            margin: 0 0 var(--indent__xs);
        }
    }

    .minicart-wrapper {
        .action {
            &.showcart {
                &:before {
                    color: var(--button__color);
                }

                &:hover:before {
                    color: var(--button__hover__color);
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    .opc-estimated-wrapper {
        //&:extend(.abs-no-display-desktop all);
    }
}
