.actions-toolbar > :is(.primary, .secondary) {
    text-align: center;
    margin-bottom: var(--indent__s);
}

.actions-toolbar > :is(.primary, .secondary) .action {
    width: 100%;
    margin-bottom: var(--indent__s);
}

.actions-toolbar > :is(.primary, .secondary) .action:last-child {
    margin-bottom: 0;
}

.actions-toolbar > :is(.primary, .secondary):last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .actions-toolbar {
        display: flex;
        align-items: center;
        margin: var(--actions-toolbar__margin);
        padding: var(--actions-toolbar__padding);
    }

    /* Add new classes to handle the position of the buttons */
    /* such as is-left, is-right or is-justify */

    .actions-toolbar.is-left {
        justify-content: flex-start;
    }

    .actions-toolbar.is-right {
        justify-content: flex-end;
    }

    .actions-toolbar.is-justify {
        justify-content: space-between;
    }

    /* Add a new class to reverse the order of the actions toolbar */

    .actions-toolbar.is-reverse {
        flex-direction: row-reverse;
    }

    .actions-toolbar :is(.primary, .secondary) {
        flex-grow: 1;
    }

    .actions-toolbar :is(.primary, .secondary) .action {
        margin: var(--actions-toolbar-actions__margin);
    }

    .actions-toolbar :is(.primary, .secondary) a.action {
        display: inline-block;
        margin-top: var(--actions-toolbar-actions-links__margin-top);
    }

    .actions-toolbar .primary .action {
        margin: var(--actions-toolbar-actions-primary__margin);
    }

    .actions-toolbar .primary a.action {
        margin-top: var(--actions-toolbar-actions-links-primary__margin-top);
    }

    .actions-toolbar .secondary .action {
        margin: var(--actions-toolbar-actions-secondary__margin);
    }

    .actions-toolbar .secondary a.action {
        margin-top: var(--actions-toolbar-actions-links-secondary__margin-top);
    }

    .actions-toolbar > :is(.primary, .secondary) {
        display: inline-block;
        margin-bottom: 0;
    }

    .actions-toolbar > :is(.primary, .secondary) .action {
        margin-bottom: 0;
        width: auto;
    }

    .column:not(.sidebar-main) form .actions-toolbar,
    .column:not(.sidebar-additional) form .actions-toolbar {
        /*&:extend(.abs-margin-for-forms-desktop all);*/
    }
}
