//
//  Breadcrumbs
//  _____________________________________________

.breadcrumbs {
    margin: var(--breadcrumbs-container-margin);

    .items {
        font-size: var(--breadcrumbs-font-size);
        color: var(--breadcrumbs-current-color);
        .lib-list-inline();
    }

    .item {
        margin: 0;
    }

    a {
        background: var(--breadcrumbs-link-background);
        border: var(--breadcrumbs-link-border);
        color: var(--breadcrumbs-link-color);
        display: var(--breadcrumbs-display);
        padding: var(--breadcrumbs-padding);
        text-decoration: var(--breadcrumbs-link-text-decoration);

        &:visited {
            background: var(--breadcrumbs-link-background-visited);
            border: var(--breadcrumbs-link-border-visited);
            color: var(--breadcrumbs-link-color-visited);
            text-decoration: var(--breadcrumbs-link-text-decoration-visited);
        }

        &:hover {
            background: var(--breadcrumbs-link-background-hover);
            border: var(--breadcrumbs-link-border-hover);
            color: var(--breadcrumbs-link-color-hover);
            text-decoration: var(--breadcrumbs-link-text-decoration-hover);
        }

        &:active {
            background: var(--breadcrumbs-link-background-active);
            border: var(--breadcrumbs-link-border-active);
            color: var(--breadcrumbs-link-color-active);
            text-decoration: var(--breadcrumbs-link-text-decoration-active);
        }
    }

    strong {
        background: var(--breadcrumbs-current-background);
        border: var(--breadcrumbs-current-border);
        display: var(--breadcrumbs-display);
        font-weight: var(--breadcrumbs-current-font-weight);
        padding: var(--breadcrumbs-padding);
    }

    .item:not(:last-child) {
        &:after {
            color: var(--breadcrumbs-separator-color);
            content: var(--breadcrumbs-separator-symbol);
        }
    }

    .item:not(:last-child) {
        .lib-icon-font(
            @_icon-font-content: var(--breadcrumbs_icon-font-content),
            @_icon-font: var(--breadcrumbs_icon-font),
            @_icon-font-size: var(--breadcrumbs_icon-font-size),
            @_icon-font-line-height: var(--breadcrumbs_icon-font-line-height),
            @_icon-font-color: var(--breadcrumbs_icon-font-color),
            @_icon-font-margin: var(--breadcrumbs_icon-font-margin),
            @_icon-font-vertical-align: var(--breadcrumbs_icon-font-vertical-align),
            @_icon-font-position: after
        );
    }
}
