.breadcrumbs {
    margin: var(--breadcrumbs__container-margin);
}

.breadcrumbs .items {
    font-size: var(--breadcrumbs__font-size);
    color: var(--breadcrumbs-current__color);
}

.breadcrumbs .items > li {
    display: inline-block;
    vertical-align: top;
}

.breadcrumbs .item {
    margin: 0;
}

.breadcrumbs a {
    background: var(--breadcrumbs-link__background);
    border: var(--breadcrumbs-link__border);
    color: var(--breadcrumbs-link__color);
    display: var(--breadcrumbs__display);
    padding: var(--breadcrumbs__padding);
    text-decoration: var(--breadcrumbs-link__text-decoration);
}

.breadcrumbs a:visited {
    background: var(--breadcrumbs-link__visited__background);
    border: var(--breadcrumbs-link__visited__border);
    color: var(--breadcrumbs-link__visited__color);
    text-decoration: var(--breadcrumbs-link__visited__text-decoration);
}

.breadcrumbs a:hover {
    background: var(--breadcrumbs-link__hover__background);
    border: var(--breadcrumbs-link__hover__border);
    color: var(--breadcrumbs-link__hover__color);
    text-decoration: var(--breadcrumbs-link__hover__text-decoration);
}

.breadcrumbs a:active {
    background: var(--breadcrumbs-link__active__background);
    border: var(--breadcrumbs-link__active__border);
    color: var(--breadcrumbs-link__active__color);
    text-decoration: var(--breadcrumbs-link__active__text-decoration);
}

.breadcrumbs strong {
    background: var(--breadcrumbs-current__background);
    border: var(--breadcrumbs-current__border);
    display: var(--breadcrumbs__display);
    font-weight: var(--breadcrumbs-current__font-weight);
    padding: var(--breadcrumbs__padding);
}

.breadcrumbs .item:not(:last-child):after {
    color: var(--breadcrumbs-separator__color);
    content: var(--breadcrumbs-separator__symbol);
}

.breadcrumbs .item:not(:last-child):after {
    content: var(--breadcrumbs-icon__font-content);
    font-family: var(--breadcrumbs-icon__font);
    font-size: var(--breadcrumbs-icon__font-size);
    line-height: var(--breadcrumbs-icon__font-line-height);
    color: var(--breadcrumbs-icon__font-color);
    margin: var(--breadcrumbs-icon__font-margin);
    vertical-align: var(--breadcrumbs-icon__font-vertical-align);
}
