@font-face {
    font-family: 'icons-blank-theme';
    src: url('../../fonts/Blank-Theme-Icons/Blank-Theme-Icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
