:root {
    --layout-column-main__sidebar-offset: 2%;
    --layout-column__additional-sidebar-offset: var(--layout-column-main__sidebar-offset);
}

.columns {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.columns:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.columns .column.main {
    box-sizing: border-box;
    padding-bottom: var(--indent__xl);
    flex-basis: auto;
    flex-grow: 1;
    order: 1;
    width: 100%;
}

.columns .sidebar-main {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 100%;
    order: 1;
}

.columns .sidebar-additional {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 100%;
    order: 2;
}

@media (max-width: env(--screen__m)) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-main,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container {
        padding-left: var(--layout__width-xs-indent);
        padding-right: var(--layout__width-xs-indent);
    }

    .account .page-main,
    .cms-privacy-policy .page-main {
        padding-top: 41px;
        position: relative;
    }
}

@media (min-width: env(--screen__m)) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .page-main {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--layout__max-width);
        padding-left: var(--layout-indent__width);
        padding-right: var(--layout-indent__width);
        width: auto;
    }

    .page-main {
        width: 100%;
    }

    .columns {
        display: block;
    }

    .column.main {
        /*#lib-layout-columns > .main();*/
        /*&:extend(.abs-add-box-sizing-desktop all);*/
        min-height: 300px;
    }

    .sidebar-main {
        /*#lib-layout-columns > .left();*/
        padding-right: var(--layout-column-main__sidebar-offset);
        /*&:extend(.abs-add-box-sizing-desktop all);*/
    }

    .page-layout-2columns-right .sidebar-main {
        padding-left: var(--layout-column-main__sidebar-offset);
        padding-right: 0;
    }

    .sidebar-additional {
        /*#lib-layout-columns > .right();*/
        clear: right;
        padding-left: var(--layout-column__additional-sidebar-offset);
        /*&:extend(.abs-add-box-sizing-desktop all);*/
    }

    .page-layout-2columns-left .main {
        padding-left: var(--layout-column__additional-sidebar-offset)
    }

    .page-layout-2columns-left .sidebar-additional {
        clear: left;
        float: left;
        padding-left: 0;
    }

    .panel.header {
        padding: 10px 20px;
    }
}
