:root {
    --message__color: initial;
    --message__background: initial;
    --message__border-color: initial;

    --message-icon: none;
    --message-icon__color-inner: inherit;
    --message-icon__color-lateral: var(--color-white);
    --message-icon__background: none;

    --message-icon__font-size: calc(2em + 2px);
    --message-icon__font-line-height: 1;
    --message-icon__inner-padding-left: 40px;
    --message-icon__lateral-width: 30px;
    --message-icon__lateral-arrow-size: 5px;

    --message-icon__top: 18px;
    --message-icon__right: initial;
    --message-icon__bottom: initial;
    --message-icon__left: 0;
}

.message {
    position: relative;
    font-size: 13px;
    line-height: 1.2em;
    padding: var(--indent__s) var(--indent__base);
    margin: 0 0 var(--indent__s);
    color: var(--message__color);
    background: var(--message__background);
    border-color: var(--message__border-color);
}

.message::before {
    font-family: var(--icon-font);
    content: var(--message-icon);
    font-size: var(--message-icon__font-size);
    line-height: var(--message-icon__font-line-height);
    width: var(--message-icon__lateral-width);
    top: var(--message-icon__top);
    left: var(--message-icon__left);
    right: var(--message-icon__right);
    bottom: var(--message-icon__bottom);
}

.message :is(.info, .warning, .notice) {
    --message__color: var(--color-brownie1);
    --message__background: var(--color-yellow-light1);
    --message-icon: var(--icon-warning);
    --message-icon__color-inner: var(--color-brownie-light1);
    --message-icon__background: var(--color-brownie1);
}

.message.error {
    --message__color: var(--error__color);
    --message__background: var(--color-pink1);
    --message-icon: var(--icon-warning);
    --message-icon__color-inner: var(--color-red11);
    --message-icon__background: var(--color-red11);
}

.message.success {
    --message__color: var(--color-dark-green1);
    --message__background: var(--color-gray-light1);
    --message-icon: var(--icon-checkmark);
    --message-icon__color-inner: var(--color-dark-green1);
    --message-icon__background: var(--color-dark-green1);
}
