.message:is(.info, .success, .notice, .warning, .error)::before {
    font-family: var(--icon-font);
    content: var(--message-icon);
    font-size: var(--message-icon__font-size);
    line-height: var(--message-icon__font-line-height);
    width: var(--message-icon__lateral-width);
    top: var(--message-icon__top);
    left: var(--message-icon__left);
    right: var(--message-icon__right);
    bottom: var(--message-icon__bottom);
}

.message :is(.info, .warning, .notice) {
    --message-icon: var(--icon-warning);
    --message-icon__color-inner: var(--color-brownie-light1);
    --message-icon__color-lateral: var(--color-white);
    --message-icon__background: var(--color-brownie1);
}

.message.error {
    --message-icon: var(--icon-warning);
    --message-icon__color-inner: var(--color-red11);
    --message-icon__color-lateral: var(--color-white);
    --message-icon__background: var(--color-red11);
}

.message.success {
    --message-icon: var(--icon-checkmark);
    --message-icon__color-inner: var(--color-dark-green1);
    --message-icon__color-lateral: var(--color-white);
    --message-icon__background: var(--color-dark-green1);
}
