:root {
    --navigation__indent-side: 15px;
}

@media (max-width: 768px) {

    /*.lib-main-navigation();*/
    .navigation {
        background: var(--navigation__background);
        border: var(--navigation__border);
        box-sizing: border-box;
    }

    .navigation ul {
        margin: 0;
        padding: 0;
    }

    .navigation li {
        margin: 0;
    }

    .navigation a {
        display: block;
        padding: var(--submenu__padding-top) var(--submenu__padding-right) var(--submenu__padding-bottom) var(--submenu__padding-left);
    }

    .navigation :is(a, a:hover) {
        color: var(--navigation-level0-item__color);
        text-decoration: var(--navigation-level0-item__text-decoration);
    }

    .navigation .level0 {
        border-top: var(--navigation-level0-item__border);
        font-size: var(--navigation-level0-item__font-size);
    }

    .navigation .level0 > .level-top {
        background: var(--navigation-level0-item__background);
        font-weight: var(--navigation-level0-item__font-weight);
        line-height: var(--navigation-level0-item__line-height);
        padding: var(--navigation-level0-item__padding);
        text-transform: var(--navigation-level0-item__text-transform);
        word-wrap: break-word;
    }

    .navigation .level0 > .level-top:hover {
        color: var(--navigation-level0-item__hover__color);
    }

    .navigation .level0.active .all-category .ui-state-focus {
        background: var(--navigation-level0-item__active__background);
        border-color: var(--navigation-level0-item__active__border-color);
        border-style: var(--navigation-level0-item__active__border-style);
        border-width: var(--navigation-level0-item__active__border-width);
        color: var(--navigation-level0-item__active__color);
        padding-left: calc(var(--navigation__indent-side) - var(--submenu-item__active__border));
        text-decoration: var(--navigation-level0-item__active__text-decoration);
        display: inline-block;
    }

    .navigation > .level1 {
        font-weight: var(--font-weight__semibold);
    }

    /* ToDo UI: remove "has_active" here, when mobile navigation default open state is implemented */
    .navigation:is(.active, .has-active) > a:not(.ui-state-active) {
        background: var(--navigation-level0-item__active__background);
        border-color: var(--navigation-level0-item__active__border-color);
        border-style: var(--navigation-level0-item__active__border-style);
        border-width: var(--navigation-level0-item__active__border-width);
        color: var(--navigation-level0-item__active__color);
        padding-left: calc(var(--active-nav-indent) - var(--submenu-item__active__border));
        text-decoration: var(--navigation-level0-item__active__text-decoration);
    }

    .navigation:is(.active, .has-active) > a:not(.ui-state-active) span:not(.ui-menu-icon) {
        margin-left: calc(-1 * var(--submenu-item__active__border));
    }

    .navigation li.level0:last-child {
        border-bottom: var(--navigation-level0-item__border);
    }

    .navigation .submenu > li {
        word-wrap: break-word;
    }

    .navigation .submenu > li > a:hover {
        color: var(--navigation-level0-item__hover__color);
    }

    .navigation .submenu:not(:first-child) {
        background: var(--submenu__background);
        border: var(--submenu__border);
        font-size: var(--submenu__font-size);
        font-weight: var(--submenu__font-weight);
        line-height: var(--submenu-item__line-height);
        left: auto !important;
        overflow-x: hidden;
        position: relative;
        top: auto !important;
        transition: left .3s ease-out;
    }

    .navigation .submenu:not(:first-child) > li > a {
        padding-left: var(--navigation__indent-side);
    }

    .navigation .submenu:not(:first-child) > li:last-child {
        margin-bottom: 0;
    }

    .navigation .submenu:not(:first-child) ul {
        display: block;
        padding-left: var(--submenu__padding-left);
    }

    .navigation .submenu:not(:first-child) ul > li {
        margin: 0;
    }

    .navigation .submenu:not(:first-child) ul > li a {
        background: var(--submenu-item__background);
        border: var(--submenu-item__border);
        color: var(--submenu-item__color);
        text-decoration: var(--submenu-item__text-decoration);
        display: block;
        line-height: normal;
    }

    .navigation .submenu:not(:first-child) ul > li a:hover {
        color: var(--navigation-level0-item__hover__color);
    }

    .navigation .submenu:not(:first-child).expanded {
        display: block !important;
        padding-right: 0;
        top: 0 !important;
    }

    .navigation .submenu:not(:first-child) .active > a {
        background: var(--submenu-item__active__background);
        border-color: var(--submenu-item__active__border-color);
        border-style: var(--submenu-item__active__border-style);
        border-width: var(--submenu-item__active__border-width);
        color: var(--submenu-item__active__color);
        padding-left: calc(var(--navigation__indent-side) - var(--submenu-item__active__border));
        text-decoration: var(--submenu-item__active__text-decoration);
    }

    .navigation .submenu:not(:first-child) .level1.active > a {
        padding-left: calc(var(--navigation__indent-side) - var(--submenu-item__active__border));
    }
}
