:root {
    --active-nav-indent: 54px;
    --navigation__indent-side: 15px;
}

.panel.header :is(.links, .switcher) {
    display: none;
}

.nav-sections {
    background: var(--navigation__background);
}

.nav-toggle {
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 14;
}

.nav-toggle::before {
    font-family: var(--icon-font);
    content: var(--icon-menu);
    font-size: 28px;
    color: var(--header-icons-color);
}

.nav-toggle:hover::before {
    color: var(--header-icons-color-hover);
}

/*.lib-icon-text-hide();*/
.nav-toggle > span {
    visibility: hidden;
    font-size: 0;
    tab-index: -1;
}

@media (max-width: 768px) {
    .navigation {
        padding: 0;
    }

    .navigation .parent .level-top {
        position: relative;
        display: block;
    }

    .navigation .parent .level-top:after {
        content: var(--icon-down);
        font-family: var(--icon-font);
        font-size: 42px;
        position: absolute;
        right: 7px;
        top: -8px;
    }

    .navigation .parent .level-top.ui-state-active:after {
        content: var(--icon-up);
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        transition: left .3s;
        height: 100%;
        left: calc(-1 * 100% - var(--active-nav-indent));
        overflow: auto;
        position: fixed;
        top: 0;
        width: calc(100% - var(--active-nav-indent));
    }

    .nav-sections .switcher {
        border-top: 1px solid var(--color-gray82);
        font-size: 1.6rem;
        font-weight: var(--font-weight__bold);
        margin: 0;
        padding: .8rem 3.5rem .8rem 2rem;
    }

    .nav-sections .switcher .label {
        display: block;
        margin-bottom: var(--indent__xs);
    }

    .nav-sections .switcher:last-child {
        border-bottom: 1px solid var(--color-gray82);
    }

    .nav-sections .switcher-trigger strong {
        position: relative;
        display: block;
    }

    .nav-sections .switcher-trigger strong:after {
        content: var(--icon-down);
        font-family: var(--icon-font);
        font-size: 42px;
        position: absolute;
        right: -40px;
        top: -16px;
    }

    .nav-sections .switcher-trigger.active strong:after {
        content: var(--icon-up);
    }

    .nav-sections .switcher-dropdown {
        /*.lib-list-reset-styles();*/
        display: none;
        padding: var(--indent__s) 0;
    }

    .nav-sections .switcher-options.active .switcher-dropdown {
        display: block;
    }

    .nav-sections .header.links {
        /*.lib-list-reset-styles();*/
        border-bottom: 1px solid var(--color-gray82);
    }

    .nav-sections .header.links li {
        font-size: 1.6rem;
        margin: 0;
    }

    .nav-sections .header.links li.greet.welcome {
        border-top: 1px solid var(--color-gray82);
        font-weight: var(--font-weight__bold);
        padding: .8rem var(--submenu__padding-left);
    }

    .nav-sections .header.links li > a {
        border-top: 1px solid var(--color-gray82);
    }

    .nav-sections .header.links :is(a, a:hover) {
        color: var(--navigation-level0-item__color);
        text-decoration: var(--navigation-level0-item__text-decoration);
        display: block;
        font-weight: var(--font-weight__bold);
        padding: .8rem var(--submenu__padding-left);
    }

    .nav-sections .header.links .header.links {
        border: 0;
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;
    }

    .nav-before-open .page-wrapper {
        transition: left .3s;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: relative;
    }

    .nav-before-open body {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .nav-open .page-wrapper {
        left: calc(100% - var(--active-nav-indent));
    }

    .nav-open .nav-sections {
        box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
        left: 0;
        z-index: 99;
    }

    .nav-open .nav-toggle:after {
        background: rgba(0, 0, 0, 0);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .nav-sections-items {
        /*.lib-clearfix();*/
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: #000100;
        border: solid #000100;
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;
    }

    .nav-sections-item-title.active {
        background: transparent;
        border-bottom: 0;
    }

    .nav-sections-item-title .nav-sections-item-switch:hover {
        text-decoration: none;
    }

    .nav-sections-item-content {
        /*.lib-clearfix();*/
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;
        padding: var(--indent__m) 0;
    }

    .nav-sections-item-content.active {
        display: block;
    }

    /*.lib-main-navigation();*/
    .navigation {
        background: var(--navigation__background);
        border: var(--navigation__border);
        box-sizing: border-box;
    }

    .navigation ul {
        margin: 0;
        padding: 0;
    }

    .navigation li {
        margin: 0;
    }

    .navigation a {
        display: block;
        padding: var(--submenu__padding-top) var(--submenu__padding-right) var(--submenu__padding-bottom) var(--submenu__padding-left);
    }

    .navigation :is(a, a:hover) {
        color: var(--navigation-level0-item__color);
        text-decoration: var(--navigation-level0-item__text-decoration);
    }

    .navigation .level0 {
        border-top: var(--navigation-level0-item__border);
        font-size: var(--navigation-level0-item__font-size);
    }

    .navigation .level0 > .level-top {
        background: var(--navigation-level0-item__background);
        font-weight: var(--navigation-level0-item__font-weight);
        line-height: var(--navigation-level0-item__line-height);
        padding: var(--navigation-level0-item__padding);
        text-transform: var(--navigation-level0-item__text-transform);
        word-wrap: break-word;
    }

    .navigation .level0 > .level-top:hover {
        color: var(--navigation-level0-item__hover__color);
    }

    .navigation .level0.active .all-category .ui-state-focus {
        background: var(--navigation-level0-item__active__background);
        border-color: var(--navigation-level0-item__active__border-color);
        border-style: var(--navigation-level0-item__active__border-style);
        border-width: var(--navigation-level0-item__active__border-width);
        color: var(--navigation-level0-item__active__color);
        padding-left: calc(var(--navigation__indent-side) - var(--submenu-item__active__border));
        text-decoration: var(--navigation-level0-item__active__text-decoration);
        display: inline-block;
    }

    .navigation > .level1 {
        font-weight: var(--font-weight__semibold);
    }

    /* ToDo UI: remove "has_active" here, when mobile navigation default open state is implemented */
    .navigation:is(.active, .has-active) > a:not(.ui-state-active) {
        background: var(--navigation-level0-item__active__background);
        border-color: var(--navigation-level0-item__active__border-color);
        border-style: var(--navigation-level0-item__active__border-style);
        border-width: var(--navigation-level0-item__active__border-width);
        color: var(--navigation-level0-item__active__color);
        padding-left: calc(var(--active-nav-indent) - var(--submenu-item__active__border));
        text-decoration: var(--navigation-level0-item__active__text-decoration);
    }

    .navigation:is(.active, .has-active) > a:not(.ui-state-active) span:not(.ui-menu-icon) {
        margin-left: calc(-1 * var(--submenu-item__active__border));
    }

    .navigation li.level0:last-child {
        border-bottom: var(--navigation-level0-item__border);
    }

    .navigation .submenu > li {
        word-wrap: break-word;
    }

    .navigation .submenu > li > a:hover {
        color: var(--navigation-level0-item__hover__color);
    }

    .navigation .submenu:not(:first-child) {
        background: var(--submenu__background);
        border: var(--submenu__border);
        font-size: var(--submenu__font-size);
        font-weight: var(--submenu__font-weight);
        line-height: var(--submenu-item__line-height);
        left: auto !important;
        overflow-x: hidden;
        position: relative;
        top: auto !important;
        transition: left .3s ease-out;
    }

    .navigation .submenu:not(:first-child) > li > a {
        padding-left: var(--navigation__indent-side);
    }

    .navigation .submenu:not(:first-child) > li:last-child {
        margin-bottom: 0;
    }

    .navigation .submenu:not(:first-child) ul {
        display: block;
        padding-left: var(--submenu__padding-left);
    }

    .navigation .submenu:not(:first-child) ul > li {
        margin: 0;
    }

    .navigation .submenu:not(:first-child) ul > li a {
        background: var(--submenu-item__background);
        border: var(--submenu-item__border);
        color: var(--submenu-item__color);
        text-decoration: var(--submenu-item__text-decoration);
        display: block;
        line-height: normal;
    }

    .navigation .submenu:not(:first-child) ul > li a:hover {
        color: var(--navigation-level0-item__hover__color);
    }

    .navigation .submenu:not(:first-child).expanded {
        display: block !important;
        padding-right: 0;
        top: 0 !important;
    }

    .navigation .submenu:not(:first-child) .active > a {
        background: var(--submenu-item__active__background);
        border-color: var(--submenu-item__active__border-color);
        border-style: var(--submenu-item__active__border-style);
        border-width: var(--submenu-item__active__border-width);
        color: var(--submenu-item__active__color);
        padding-left: calc(var(--navigation__indent-side) - var(--submenu-item__active__border));
        text-decoration: var(--submenu-item__active__text-decoration);
    }

    .navigation .submenu:not(:first-child) .level1.active > a {
        padding-left: calc(var(--navigation__indent-side) - var(--submenu-item__active__border));
    }
}

@media (min-width: env(--screen__m)) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        flex-shrink: 0;
        flex-basis: auto;
        margin-bottom: var(--indent__m);
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content > .navigation {
        display: block;
    }

    /*.lib-main-navigation-desktop();*/
    .panel.header :is(.links, .switcher) {
        display: inline-block;
    }
}

