:root {
    --active-nav-indent: 54px;
    --nav__indent-side: 15px;
}

.panel.header {
    & .links,
    & .switcher {
        display: none;
    }
}

.nav-sections {
    background: var(--navigation__background);
}

.nav-toggle {
    &:before {
        content: var(--icon-menu);
        font-size: 28px;
        color: var(--header-icons-color);

        &:hover {
            color: var(--header-icons-color-hover);
        }
    }

    > span {
        display: none;
    }

    cursor: pointer;
    display: block;
    font-size: 0;
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 14;
}

//
//  Mobile
//  _____________________________________________

@media (max-width: env(--screen__m)) {
    .navigation {
        padding: 0;

        & .parent {
            & .level-top {
                position: relative;
                display: block;

                &:after {
                    position: absolute;
                    right: 7px;
                    top: -8px;
                    content: var(--icon-down);
                    font-size: 42px;
                }

                &.ui-state-active {
                    &:after {
                        content: var(--icon-up);
                    }
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        transition: left .3s;
        height: 100%;
        left: calc(-1 * (100% - var(--active-nav-indent)));
        overflow: auto;
        position: fixed;
        top: 0;
        width: calc(100% - var(--active-nav-indent));

        & .switcher {
            border-top: 1px solid var(--color-gray82);
            font-size: 1.6rem;
            font-weight: var(--font-weight__bold);
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            & .label {
                display: block;
                margin-bottom: var(--indent__xs);
            }

            &:last-child {
                border-bottom: 1px solid var(--color-gray82);
            }
        }

        & .switcher-trigger {
            & strong {
                position: relative;
                display: block;

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                    content: var(--icon-down);
                    font-size: 42px;
                }
            }

            &.active strong {
                &:after {
                    content: var(--icon-up);
                }
            }
        }

        & .switcher-dropdown {
            display: none;
            padding: var(--indent__s) 0;
            margin: 0;
            list-style-type: none;
        }

        & .switcher-options {
            &.active {
                & .switcher-dropdown {
                    display: block;
                }
            }
        }

        & .header.links {
            margin: 0;
            padding: 0;
            list-style-type: none;
            border-bottom: 1px solid var(--color-gray82);

            & li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid var(--color-gray82);
                    font-weight: var(--font-weight__bold);
                    padding: .8rem var(--submenu__padding-left);
                }

                & > a {
                    border-top: 1px solid var(--color-gray82);
                }
            }

            & a,
            & a:hover {
                color: var(--navigation-level0-item__color);
                text-decoration: var(--navigation-level0-item__text-decoration);
                display: block;
                font-weight: var(--font-weight__bold);
                padding: .8rem var(--submenu__padding-left);
            }

            & .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        & .page-wrapper {
            transition: left .3s;
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        & body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        & .page-wrapper {
            left: calc(100% - var(--active-nav-indent));
        }

        & .nav-sections {
            box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            left: 0;
            z-index: 99;
        }

        & .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, var(--overlay__opacity));
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        //.lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: color(var(--navigation__background), blackness(+5%));
        border: solid color(var(--navigation__background), blackness(+10%));
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;

        &.active {
            background: transparent;
            border-bottom: 0;
        }

        & .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        //.lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;

        &.active {
            display: block;
        }

        padding: var(--indent__m) 0;
    }

    //.lib-main-navigation();
    .navigation {
        background: var(--navigation__background);
        border: var(--navigation__border);
        box-sizing: border-box;

        & ul {
            margin: 0;
            padding: 0;
        }

        & li {
            margin: 0;
        }

        & a {
            display: block;
            padding: var(--submenu__padding-top) var(--submenu__padding-right) var(--submenu__padding-bottom) var(--submenu__padding-left);
        }

        & a,
        & a:hover {
            color: var(--navigation-level0-item__color);
            text-decoration: var(--navigation-level0-item__text-decoration);
        }

        & .level0 {
            border-top: var(--navigation-level0-item__border);
            font-size: var(--navigation-level0-item__font-size);

            & > .level-top {
                background: var(--navigation-level0-item__background);
                font-weight: var(--navigation-level0-item__font-weight);
                line-height: var(--navigation-level0-item__line-height);
                padding: var(--navigation-level0-item__padding);
                text-transform: var(--navigation-level0-item__text-transform);
                word-wrap: break-word;

                &:hover {
                    color: var(--navigation-level0-item__hover__color);
                }
            }

            &.active {
                & .all-category {
                    & .ui-state-focus {
                        background: var(--navigation-level0-item__active__background);
                        border-color: var(--navigation-level0-item__active__border-color);
                        border-style: var(--navigation-level0-item__active__border-style);
                        border-width: var(--navigation-level0-item__active__border-width);
                        color: var(--navigation-level0-item__active__color);
                        padding-left: calc(var(--nav__indent-side) - var(--submenu-item__active__border));
                        text-decoration: var(--navigation-level0-item__active__text-decoration);
                        display: inline-block;
                    }
                }
            }

            & > .level1 {
                font-weight: var(--font-weight__semibold);
            }

            &.active,
            &.has-active { // ToDo UI: remove "has_active" here, when mobile navigation default open state is implemented
                & > a:not(.ui-state-active) {
                    background: var(--navigation-level0-item__active__background);
                    border-color: var(--navigation-level0-item__active__border-color);
                    border-style: var(--navigation-level0-item__active__border-style);
                    border-width: var(--navigation-level0-item__active__border-width);
                    color: var(--navigation-level0-item__active__color);
                    text-decoration: var(--navigation-level0-item__active__text-decoration);

                    & span:not(.ui-menu-icon) {
                        margin-left: calc(-1 * var(--submenu-item__active__border));
                    }
                }
            }
        }

        & li.level0 {
            &:last-child {
                border-bottom: var(--navigation-level0-item__border);
            }
        }

        & .submenu {
            & > li {
                word-wrap: break-word;
                & > a {
                    &:hover {
                        color: var(--navigation-level0-item__hover__color);
                    }
                }
            }

            &:not(:first-child) {
                background: var(--submenu__background);
                border: var(--submenu__border);
                font-size: var(--submenu__font-size);
                font-weight: var(--submenu__font-weight);
                line-height: var(--submenu-item__line-height);
                left: auto !important;
                overflow-x: hidden;
                padding: 0;
                position: relative;
                top: auto !important;
                transition: left .3s ease-out;

                & > li {
                    & > a {
                        padding-left: var(--nav__indent-side);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                & ul {
                    display: block;
                    padding-left: var(--submenu__padding-left);

                    & > li {
                        margin: 0;

                        & a {
                            background: var(--submenu-item__background);
                            border: var(--submenu-item__border);
                            color: var(--submenu-item__color);
                            text-decoration: var(--submenu-item__text-decoration);
                            display: block;
                            line-height: normal;
                            &:hover {
                                color: var(--navigation-level0-item__hover__color);
                            }
                        }
                    }
                }

                &.expanded {
                    display: block !important;
                    padding-right: 0;
                    top: 0 !important;
                }

                & .active {
                    & > a {
                        background: var(--submenu-item__active__background);
                        border-color: var(--submenu-item__active__border-color);
                        border-style: var(--submenu-item__active__border-style);
                        border-width: var(--submenu-item__active__border-width);
                        color: var(--submenu-item__active__color);
                        padding-left: calc(var(--nav__indent-side) - var(--submenu-item__active__border));
                        text-decoration: var(--submenu-item__active__text-decoration);
                    }
                }

                & .level1 {
                    &.active {
                        & > a {
                            padding-left: calc(var(--nav__indent-side) - var(--submenu-item__active__border));
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        flex-shrink: 0;
        flex-basis: auto;
        margin-bottom: var(--indent__m);
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        & > .navigation {
            display: block;
        }
    }

    //.lib-main-navigation-desktop();

    .panel.header {
        & .links,
        & .switcher {
            display: inline-block;
        }
    }
}
