.price-tier_price :is(.price-excluding-tax, .price-including-tax) {
    display: inline;
}

.price-including-tax,
.price-excluding-tax {
    display: block;
    font-size: 18px;
    line-height: 1;
}

:is(.price-excluding-tax, .price-including-tax) .price {
    font-weight: var(--font-weight__bold);
}

:is(.price-excluding-tax, .price-including-tax) .cart-tax-total {
    /*&:extend(.abs-tax-total all);*/
}

:is(.price-excluding-tax, .price-including-tax) .cart-tax-total-expanded {
    /*&:extend(.abs-tax-total-expanded all);*/
}

.price-including-tax + .price-excluding-tax,
.weee[data-label] {
    display: block;
    font-size: 18px;
}

.price-including-tax + .price-excluding-tax:before,
.weee[data-label]:before {
    content: attr(data-label) ': ';
    font-size: 11px;
}

.price-including-tax + .price-excluding-tax .price,
.weee[data-label] .price {
    font-size: 11px;
}

