body {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

nav :is(ul, ol) {
    list-style: none none;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

video,
embed,
object {
    max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

/*.lib-typography-all();*/

table {
    /*.lib-table();*/
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type*="date"],
input[type="email"] {
    background: var(--input-text__background);
    background-clip: var(--input-text__background-clip);
    border: var(--input-text__border);
    border-radius: var(--input-text__border-radius);
    color: var(--input-text__color);
    font-family: var(--input-text__font-family);
    font-size: var(--input-text__font-size);
    font-style: var(--input-text__font-style);
    font-weight: var(--input-text__font-weight);
    height: var(--input-text__height);
    line-height: var(--input-text__line-height);
    margin: var(--input-text__margin);
    padding: var(--input-text__padding);
    vertical-align: var(--input-text__vertical-align);
    width: var(--input-text__width);
    box-sizing: border-box;

/*._lib-form-element-focus(*/
/*@_background,*/
/*@_focus-background,*/
/*@_border,*/
/*@_focus-border,*/
/*@_color,*/
/*@_focus-color,*/
/*@_font-style,*/
/*@_focus-font-style*/
/*);*/

/*._lib-form-element-disabled(*/
/*@_background,*/
/*@_disabled-background,*/
/*@_border,*/
/*@_disabled-border,*/
/*@_color,*/
/*@_disabled-color,*/
/*@_font-style,*/
/*@_disabled-font-style,*/
/*@_disabled-opacity*/
/*);*/

/*._lib-form-element-placeholder(*/
/*@_type,*/
/*@_placeholder-color,*/
/*@_font-style,*/
/*@_placeholder-font-style*/
/*);*/
}

input[type="number"] {
    /*.lib-form-element-number-reset();*/
}

input[type="search"] {
    /*.lib-form-element-search-reset();*/
}

select {
    /*.lib-form-element-input(@_type: select);*/
}

select[multiple] {
    height: auto;
    background-image: none;
}

textarea {
    /*.lib-form-element-input(@_type: textarea);*/
    /*.lib-form-element-textarea-resize();*/
}

input[type="checkbox"] {
    /*.lib-form-element-choice(@_type: input-checkbox);*/
    position: relative;
    top: 2px;
}

input[type="radio"] {
    /*.lib-form-element-choice(@_type: input-radio);*/
}

:is(input, select, textarea).mage-error {
    border-color: var(--form-element-validation__border-error);
}

div.mage-error[generated] {
    color: var(--form-validation-note__color-error);
    font-size: var(--form-validation-note__font-size);
    margin: var(--form-validation-note__margin);
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

form {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

address {
    font-style: normal;
}

*:focus {
    box-shadow: none;
    outline: 0;
}

._keyfocus *:focus,
:is(input, textarea, select):not([disabled]):focus {
    box-shadow: var(--focus__box-shadow);
}
