.product.data.items {
    margin-bottom: var(--indent__base);
}

@media (min-width: env(--screen__m)) {
    .product.data.items {
        /*.lib-data-accordion();*/
    }
}

@media (max-width: env(--screen__m)) {
    .product.data.items {
        /*.lib-data-tabs();*/
    }

    .product.data.items .data.item {
        display: block;
    }

    .product.data.items .item.title > .switch {
        padding: 1px 15px 1px;
    }

    .product.data.items > .item.content {
        padding: 10px 15px 30px;
    }
}
