.product.data.items {
    //.lib-data-accordion();
    margin-bottom: var(--indent__base);
}

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    .product.data.items {
        //.lib-data-tabs();
    }
}

//
//  Mobile
//  _____________________________________________

@media (max-width: env(--screen__m)) {
    .product.data.items {
        //.lib-data-accordion();

        & .data.item {
            display: block;
        }

        & .item.title {
            & > .switch {
                padding: 1px 15px 1px;
            }
        }

        & > .item.content {
            padding: 10px 15px 30px;
        }
    }
}
