//.lib-font-face(
//    @family-name: 'Open Sans',
//    @font-path: '@{baseDir}fonts/opensans/light/opensans-300',
//    @font-weight: 300,
//    @font-style: normal,
//    @font-display: swap
//);
//
//.lib-font-face(
//    @family-name: 'Open Sans',
//    @font-path: '@{baseDir}fonts/opensans/regular/opensans-400',
//    @font-weight: 400,
//    @font-style: normal,
//    @font-display: swap
//);
//
//.lib-font-face(
//    @family-name: 'Open Sans',
//    @font-path: '@{baseDir}fonts/opensans/semibold/opensans-600',
//    @font-weight: 600,
//    @font-style: normal,
//    @font-display: swap
//);
//
//.lib-font-face(
//    @family-name: 'Open Sans',
//    @font-path: '@{baseDir}fonts/opensans/bold/opensans-700',
//    @font-weight: 700,
//    @font-style: normal,
//    @font-display: swap
//);

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    & h1 {
        font-size: var(--h1__font-size-desktop);
        margin-bottom: var(--h1__margin-bottom__desktop);
    }
}

.items {
    //.lib-list-reset-styles();
}
