a,
.alink {
    color: var(--link__color);
    text-decoration: var(--link__text-decoration);
}

a:visited,
.alink:visited {
    color: var(--link__visited__color);
    text-decoration: var(--link__visited__text-decoration);
}

a:hover,
.alink:hover {
    color: var(--link__hover__color);
    text-decoration: var(--link__hover__text-decoration);
}

a:active,
.alink:active {
    color: var(--link__active__color);
    text-decoration: var(--link__active__text-decoration);
}
