h1 {
    color: var(--h1__font-color);
    font-size: var(--h1__font-size);
    font-family: var(--h1__font-family);
    font-weight: var(--h1__font-weight);
    line-height: var(--h1__line-height);
    font-style: var(--h1__font-style);
    margin-top: var(--h1__margin-top);
    margin-bottom: var(--h1__margin-bottom);
}

h2 {
    color: var(--h2__font-color);
    font-size: var(--h2__font-size);
    font-family: var(--h2__font-family);
    font-weight: var(--h2__font-weight);
    line-height: var(--h2__line-height);
    font-style: var(--h2__font-style);
    margin-top: var(--h2__margin-top);
    margin-bottom: var(--h2__margin-bottom);
}

h3 {
    color: var(--h3__font-color);
    font-size: var(--h3__font-size);
    font-family: var(--h3__font-family);
    font-weight: var(--h3__font-weight);
    line-height: var(--h3__line-height);
    font-style: var(--h3__font-style);
    margin-top: var(--h3__margin-top);
    margin-bottom: var(--h3__margin-bottom);
}

h4 {
    color: var(--h4__font-color);
    font-size: var(--h4__font-size);
    font-family: var(--h4__font-family);
    font-weight: var(--h4__font-weight);
    line-height: var(--h4__line-height);
    font-style: var(--h4__font-style);
    margin-top: var(--h4__margin-top);
    margin-bottom: var(--h4__margin-bottom);
}

h5 {
    color: var(--h5__font-color);
    font-size: var(--h5__font-size);
    font-family: var(--h5__font-family);
    font-weight: var(--h5__font-weight);
    line-height: var(--h5__line-height);
    font-style: var(--h5__font-style);
    margin-top: var(--h5__margin-top);
    margin-bottom: var(--h5__margin-bottom);
}

h6 {
    color: var(--h6__font-color);
    font-size: var(--h6__font-size);
    font-family: var(--h6__font-family);
    font-weight: var(--h6__font-weight);
    line-height: var(--h6__line-height);
    font-style: var(--h6__font-style);
    margin-top: var(--h6__margin-top);
    margin-bottom: var(--h6__margin-bottom);
}

/*h1, h2, h3, h4, h5, h6 {*/
/*    small,*/
/*    .small {*/
/*        . lib-typography(@_heading-small-size,*/
/*        @_heading-small-color,*/
/*        @_line-height: @_heading-small-line-height);*/
/*    }*/
/*}*/
