/* LIB-TYPOGRAPHY__BASE */
:root {
    --strong__font-weight: var(--font-weight__bold);
    --hr__margin-top: var(--line-height__computed);
    --hr__margin-bottom: var(--line-height__computed);
    --sub-sup__font-size: calc(var(--font-size__xs) / var(--font-size__base) * 100%);
    --dfn__font-style: var(--font-style__emphasis);
}

html {
    font-size: var(--root__font-size);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
}

body {
    /*. lib-typography();*/
}

p {
    margin-top: var(--p__margin-top);
    margin-bottom: var(--p__margin-bottom);
}

/* Abbreviations and acronyms */
abbr[title] {
    border-bottom: 1px dotted var(--abbr__border-color);
    cursor: help;
}

b,
strong {
    font-weight: var(--strong__font-weight);
}

em,
i {
    font-style: var(--font-style__emphasis);
}

mark {
    background: var(--mark__background-color);
    color: var(--mark__color);
}

small,
.small {
    font-size: var(--font-size__s);
}

hr {
    border: 0;
    border-top: var(--hr__border-width) var(--hr__border-style) var(--hr__border-color);
    margin-bottom: var(--hr__margin-bottom);
    margin-top: var(--hr__margin-top);
}

sub,
sup {
    font-size: var(--sub-sup__font-size);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

dfn {
    font-style: var(--dfn__font-style);
}
