//.lib-font-face(
//    @family-name: 'Open Sans',
//    @font-path: '@{baseDir}fonts/opensans/light/opensans-300',
//    @font-weight: 300,
//    @font-style: normal,
//    @font-display: swap
//);
//
//.lib-font-face(
//    @family-name: 'Open Sans',
//    @font-path: '@{baseDir}fonts/opensans/regular/opensans-400',
//    @font-weight: 400,
//    @font-style: normal,
//    @font-display: swap
//);
//
//.lib-font-face(
//    @family-name: 'Open Sans',
//    @font-path: '@{baseDir}fonts/opensans/semibold/opensans-600',
//    @font-weight: 600,
//    @font-style: normal,
//    @font-display: swap
//);
//
//.lib-font-face(
//    @family-name: 'Open Sans',
//    @font-path: '@{baseDir}fonts/opensans/bold/opensans-700',
//    @font-weight: 700,
//    @font-style: normal,
//    @font-display: swap
//);

html {
    font-size: var(--root__font-size);
    font-size-adjust: 100%;
}

body {
    color: var(--text__color);
    font-family: var(--font-family__base);
    font-style: var(--font-style__base);
    font-weight: var(--font-weight__regular);
    line-height: var(--line-height__base);
    font-size: var(--font-size__base);
}

p {
    margin-top: var(--p__margin-top);
    margin-bottom: var(--p__margin-bottom);
}

//  Abbreviations and acronyms
abbr[title] {
    border-bottom: 1px dotted var(--abbr__border-color);
    cursor: help;
}

b,
strong {
    font-weight: var(--font-weight__bold);
}

em,
i {
    font-style: var(--font-style__emphasis);
}

mark {
    background: var(--mark__background-color);
    color: var(--mark__color);
}

small,
.small {
    font-size: var(--font-size__s);
}

hr {
    border: 0;
    border-top: var(--hr__border-width) var(--hr__border-style) var(--hr__border-color);
    margin-bottom: var(--line-height__computed);
    margin-top: var(--line-height__computed);
}

sub,
sup {
    font-size: calc(var(--font-size__xs) / var(--font-size__base) * 100%);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

dfn {
    font-style: var(--font-style__emphasis);
}

//
//  Headings
//  ---------------------------------------------

h1 {
    font-size: var(--h1__font-size);
    color: var(--h1__font-color);
    font-family: var(--h1__font-family);
    font-weight: var(--h1__font-weight);
    line-height: var(--h1__line-height);
    font-style: var(--h1__font-style);
    margin-top: var(--h1__margin-top);
    margin-bottom: var(--h1__margin-bottom);
}

h2 {
    font-size: var(--h2__font-size);
    color: var(--h2__font-color);
    font-family: var(--h2__font-family);
    font-weight: var(--h2__font-weight);
    line-height: var(--h2__line-height);
    font-style: var(--h2__font-style);
    margin-top: var(--h2__margin-top);
    margin-bottom: var(--h2__margin-bottom);
}

h3 {
    font-size: var(--h3__font-size);
    color: var(--h3__font-color);
    font-family: var(--h3__font-family);
    font-weight: var(--h3__font-weight);
    line-height: var(--h3__line-height);
    font-style: var(--h3__font-style);
    margin-top: var(--h3__margin-top);
    margin-bottom: var(--h3__margin-bottom);
}

h4 {
    font-size: var(--h4__font-size);
    color: var(--h4__font-color);
    font-family: var(--h4__font-family);
    font-weight: var(--h4__font-weight);
    line-height: var(--h4__line-height);
    font-style: var(--h4__font-style);
    margin-top: var(--h4__margin-top);
    margin-bottom: var(--h4__margin-bottom);
}

h5 {
    font-size: var(--h5__font-size);
    color: var(--h5__font-color);
    font-family: var(--h5__font-family);
    font-weight: var(--h5__font-weight);
    line-height: var(--h5__line-height);
    font-style: var(--h5__font-style);
    margin-top: var(--h5__margin-top);
    margin-bottom: var(--h5__margin-bottom);
}

h6 {
    font-size: var(--h6__font-size);
    color: var(--h6__font-color);
    font-family: var(--h6__font-family);
    font-weight: var(--h6__font-weight);
    line-height: var(--h6__line-height);
    font-style: var(--h6__font-style);
    margin-top: var(--h6__margin-top);
    margin-bottom: var(--h6__margin-bottom);
}

h1, h2, h3, h4, h5, h6 {
    & small,
    & .small {
        font-size: var(--heading__small-size);
        color: var(--heading__small-color);
        line-height: var(--heading__small-line-height);
    }
}

//
//  Links
//  ---------------------------------------------

a,
.alink {
    color: var(--link__color);
    text-decoration: var(--link__text-decoration);

    &:visited {
        color: var(--link__visited__color);
        text-decoration: var(--link__visited__text-decoration);
    }

    &:hover {
        color: var(--link__hover__color);
        text-decoration: var(--link__hover__text-decoration);
    }

    &:active {
        color: var(--link__active__color);
        text-decoration: var(--link__active__text-decoration);
    }
}

//
//  Unordered and Ordered lists
//  ---------------------------------------------

ul,
ol {
    margin-top: var(--list__margin-top);
    margin-bottom: var(--list__margin-bottom);

    > li {
        margin-top: var(--list-item__margin-top);
        margin-bottom: var(--list-item__margin-bottom);
    }

    ul,
    ol {
        margin-bottom: 0;
    }
}

dl {
    margin-bottom: var(--dl__margin-bottom);
    margin-top: var(--dl__margin-top);
}

dt {
    font-weight: var(--dt__font-weight);
    margin-bottom: var(--dt__margin-bottom);
    margin-top: var(--dt__margin-top);
}

dd {
    margin-bottom: var(--dd__margin-bottom);
    margin-top: var(--dd__margin-top);
    margin-left: 0;
}

//
//  Code (inline and block)
//  ---------------------------------------------

code,
kbd,
pre,
samp {
    font-family: var(--font-family__monospace);
}

//  Inline code
code {
    background: var(--code__background-color);
    color: var(--code__color);
    padding: var(--code__padding);
    font-size: var(--code__font-size);
    white-space: nowrap;
}

//  User input typically entered via keyboard
kbd {
    background: var(--kbd__background-color);
    color: var(--kbd__color);
    padding: var(--code__padding);
    font-size: var(--code__font-size);
}

//  Blocks of code
pre {
    background: var(--pre__background-color);
    border: var(--pre__border-width) solid var(--pre__border-color);
    color: var(--pre__color);
    line-height: var(--line-height__base);
    margin: 0 0 var(--indent__s);
    padding: var(--indent__s);
    font-size: var(--code__font-size);
    display: block;
    word-wrap: break-word;

    code {
        background-color: transparent;
        border-radius: 0;
        color: inherit;
        font-size: inherit;
        padding: 0;
        white-space: pre-wrap;
    }
}

//
//  Blockquotes
//  ---------------------------------------------

blockquote {
    border-left: var(--blockquote__border-width) solid var(--blockquote__border-color);
    margin: var(--blockquote__margin);
    padding: var(--blockquote__padding);
    font-size: var(--blockquote__font-size);
    font-style: var(--blockquote__font-style);

    p,
    ul,
    ol {
        &:last-child {
            margin-bottom: 0;
        }
    }

    footer,
    small,
    .small {
        color: var(--blockquote-small__color);
        line-height: var(--line-height__base);
        font-size: var(--blockquote-small__font-size);
        display: block;

        &:before {
            content: var(--blockquote__content-before);
        }
    }

    cite {
        font-style: var(--cite__font-style);
    }
}

//  Quotes
blockquote {
    &:before,
    &:after {
        content: '';
    }
}

q {
    quotes: none;

    &:before,
    &:after {
        content: '';
        content: none;
    }
}

//  Undo browser default styling
cite {
    font-style: var(--cite__font-style);
}

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    h1 {
        font-size: var(--h1__font-size-desktop);
        margin-bottom: var(--h1__margin-bottom__desktop);
    }
}

.items {
    margin: 0;
    padding: 0;
    list-style: none none;
}
