@import 'variables/_actions-toolbar.pcss';
@import 'variables/_breadcrumbs.pcss';
@import 'variables/_buttons.pcss';
@import 'variables/_colors.pcss';
@import 'variables/_components.pcss';
@import 'variables/_dropdowns.pcss';
@import 'variables/_email.pcss';
@import 'variables/_forms.pcss';
@import 'variables/_icons.pcss';
@import 'variables/_layout.pcss';
@import 'variables/_loaders.pcss';
@import 'variables/_messages.pcss';
@import 'variables/_navigation.pcss';
@import 'variables/_pages.pcss';
@import 'variables/_popups.pcss';
@import 'variables/_rating.pcss';
@import 'variables/_sections.pcss';
@import 'variables/_structure.pcss';
@import 'variables/_tables.pcss';
@import 'variables/_tooltips.pcss';
@import 'variables/_typography.pcss';

//
//  Blank theme variables
//  _____________________________________________

:root {
    //
    //  Typography
    //  ---------------------------------------------

    //  Fonts
    --font-family-name__base: 'Open Sans';
    --font-family__base: var(--font-family-name__base), var(--font-family__sans-serif);

    //
    //  Sections variables
    //  _____________________________________________

    //
    //  Tabs
    //  ---------------------------------------------

    --tab-content__border-top-status: true;

    //
    //  Sidebar
    //  ---------------------------------------------

    --sidebar__background-color: var(--color-white-smoke); // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
}
