/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Actions -> Action select
//  _____________________________________________

//
//  Variables
//  _____________________________________________

:root {
    --color-blue-pure: #007bdb;

    --action__height: 3.2rem;
    --action__width: 3.2rem;

//  Triangle marker
    --button-marker-triangle__height: .5rem;
    --button-marker-triangle__width: .8rem;

    --button__border-color: var(--color-gray68);

    --action__border-color: var(--color-gray68);
    --action__active__border-color: var(--action__border-color);
    --action__hover__border-color: var(--action__border-color);

    --action-select__disabled__color: var(--text__color);
    --action-select__z-index: var(--z-index-5);

    --field-control__box-shadow: 0 0 3px 1px var(--color-blue3);
    --field-control__active__border-color: var(--color-blue-pure);
    --field-control__hover__border-color: var(--action__hover__border-color);

    --_dropdown__padding-right: var(--action__height);
    --_triangle__height: var(--button-marker-triangle__height);
    --_triangle__width: var(--button-marker-triangle__width);
}

//  Action select have the same visual styles and functionality as native <select>
.admin__action-group-wrap {
    --_action-select__border-color: var(--button__border-color);
    --_action-select__active__border-color: var(--action__active__border-color);
    --_action-select-toggle__size: var(--action__height);

    display: inline-block;
    position: relative;

    .action-select {
        //.lib-text-overflow();

        background-color: var(--color-white);
        font-weight: var(--font-weight__regular);
        text-align: left;

        &:hover {
            border-color: var(--color-gray68);

            &:before {
                border-color: var(--field-control__hover__border-color);
            }
        }

        //  Toggle action
        //&:extend(.abs-icon-add all);

        &:before {
            align-items: center;
            content: var(--icon-down);
            display: flex;
            font-size: 24px;
            justify-content: space-around;
            line-height: 1;
            position: absolute;
            right: 0;
            width: var(--action__width);
        }

        &._active {
            &:before {
                content: var(--icon-up);
            }
        }

        &[disabled] {
            color: var(--action-select__disabled__color);
        }

        &._mage-error {
            border: 1px solid var(--form-element-validation__border-error);
        }
    }

    &._focus {
        .action-select {
            &._mage-error {
                border: 1px solid var(--form-element-validation__border-error);
            }
        }
    }

    &._active {
        z-index: var(--action-select__z-index);

        .action-select {
            &:before {
                content: var(--icon-up);
            }
        }

        .action-menu {
            box-shadow: var(--field-control__box-shadow);
        }
    }

    .action-menu {
        border: 1px solid var(--action__border-color);
        display: none;
        max-height: 45rem;
        overflow-y: auto;

        &._active {
            display: block;
        }

        ._disabled {
            &:hover {
                background: var(--color-white);
            }

            .action-menu-item {
                cursor: default;
                opacity: .5;
            }
        }
    }

    .action-menu-items {
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;

        > .action-menu {
            min-width: 100%;
            position: static;

            .action-submenu {
                position: absolute;
                right: -100%;
            }
        }
    }

    .validate-select-field {
        //.lib-visually-hidden();
    }
}
