.table.grouped {
    /*.lib-table-bordered(*/
    /*    @_table_type: horizontal*/
    /*);*/
}

.table.grouped > thead > tr > th {
    border-bottom: 0;
}

.table.grouped .product-item-name {
    font-weight: var(--font-weight__regular);
}

.table.grouped .price-box .price {
    font-size: var(--font-size__base);
}

.table.grouped .control .qty {
    /*&:extend(.abs-input-qty all);*/
}

.table.grouped .stock.unavailable {
    font-weight: normal;
    margin: 0;
    text-transform: none;
    white-space: nowrap;
}

.table.grouped .row-tier-price td {
    border-top: 0;
}

.table.grouped .row-tier-price .prices-tier {
    margin: 0 -10px 10px;
}
