// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

.map-popup-wrapper.popup {
    .action.close {
        top: var(--popup-button-close__position-top);
    }
}

.map-popup {
    //.lib-popup(
    //    var(--_popup-margin-top): var(--indent__s),
    //    var(--_popup-margin-left): false,
    //    var(--_popup-content-margin): var(--indent__s) 0 0,
    //    var(--_popup-position-bottom): false,
    //    var(--_popup-position-right): false,
    //    var(--_popup-position): absolute
    //);
    box-sizing: border-box;

    .map-info-price {
        //&:extend(.abs-add-clearfix all);
        margin-bottom: 15px;

        .price-box {
            margin: 0 0 var(--indent__base);

            .label {
                &:after {
                    content: ': ';
                }
            }
        }
    }

    .regular-price {
        .price-label {
            display: none;
        }
    }
}

.map-old-price,
.product-info-price .map-show-info {
    &:not(:last-child) {
        margin-right: var(--indent__s);
    }
}

.map-fallback-price {
    display: none;
}

.map-old-price {
    text-decoration: none;

    .price-wrapper {
        text-decoration: line-through;
    }
}

.map-form-addtocart {
    display: inline-block;
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
    }
}

button.map-show-info {
    //.lib-button-reset();
    //.lib-button-as-link();
}

//
//  Mobile
//  _____________________________________________

@media (max-width: env(--screen__m)) {
    .map-popup {
        max-width: 100%;
    }

    .map-old-price,
    .map-show-info {
        display: inline-block;

        &:not(:last-child) {
            margin-bottom: var(--indent__s);
        }
    }
}
