// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

.minilist {
    .weee {
        display: table-row;
        font-size: 11rem;

        &:before {
            display: none;
        }
    }
}

.price-container.weee {
    &:before {
        display: none;
    }
}
