:root {
    --widgets-indent__bottom: var(--indent__base);
}

.block-static-block,
.block-cms-link {
    &.widget {
        margin-bottom: var(--widgets-indent__bottom);
        & .links & {
            margin-bottom: 0;
        }
    }
}

.block-cms-link-inline {
    &.widget {
        margin: 0;
    }
}
