// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

:root {
    --widgets-indent__bottom: var(--indent__base);
}

//
//  Common
//  _____________________________________________

.block-static-block,
.block-cms-link {
    &.widget {
        margin-bottom: var(--widgets-indent__bottom);
        .links & {
            margin-bottom: 0;
        }
    }
}

.block-cms-link-inline {
    &.widget {
        margin: 0;
    }
}
