.map-popup-wrapper.popup .action.close {
    top: var(--popup-button-close__position-top);
}

.map-popup {
    /*.lib-popup(*/
    /*    @_popup-margin-top: var(--indent__s),*/
    /*    @_popup-margin-left: false,*/
    /*    @_popup-content-margin: var(--indent__s) 0 0,*/
    /*    @_popup-position-bottom: false,*/
    /*    @_popup-position-right: false,*/
    /*    @_popup-position: absolute*/
    /*);*/
    box-sizing: border-box;
}

.map-popup .map-info-price {
    /*&: extend(.abs-add-clearfix all);*/
    margin-bottom: 15px;
}

.map-popup .map-info-price .price-box {
    margin: 0 0 var(--indent__base);
}

.map-popup .map-info-price .price-box .label:after {
    content: ': ';
}

.map-popup .regular-price .price-label {
    display: none;
}

.map-old-price:not(:last-child),
.product-info-price .map-show-info:not(:last-child) {
    margin-right: var(--indent__s);
}

.map-fallback-price {
    display: none;
}

.map-old-price {
    text-decoration: none;
}

.map-old-price .price-wrapper {
    text-decoration: line-through;
}

.map-form-addtocart {
    display: inline-block;
    text-align: center;
}

.map-form-addtocart img {
    display: block;
    margin: 0 auto;
}

button.map-show-info {
    /*.lib-button-reset();*/
    /*.lib-button-as-link();*/
}

@media (max-width: 768px) {
    .map-popup {
        max-width: 100%;
    }

    .map-old-price, .map-show-info {
        display: inline-block;
    }

    :is(.map-old-price,    .map-show-info):not(:last-child) {
        margin-bottom: var(--indent__s);
    }
}
