.cart-summary .block.giftcard .action.check {
    /*.lib-button-s();*/
    /*&:extend(.abs-action-button-as-link all);*/
    margin-top: var(--indent__base);
}

.page-product-giftcard .giftcard-amount {
    margin-bottom: 0;
    text-align: left;
}

.page-product-giftcard .giftcard-amount .field:last-child {
    padding-bottom: var(--form-field__vertical-indent);
}

.page-product-giftcard .product-options-wrapper .field:first-of-type {
    margin-top: var(--form-field__vertical-indent);
}

.page-product-giftcard .fieldset.giftcard > .legend {
    /*&:extend(.abs-visually-hidden all);*/
}

.page-product-giftcard .fieldset.giftcard + br {
    /*&:extend(.abs-no-display all);*/
}
