.contact-index-index .column:not(.sidebar-main) .form.contact {
    float: none;
    width: 50%;
}

.contact-index-index .column:not(.sidebar-additional) .form.contact {
    float: none;
    width: 50%;
}


@media (min-width: 768px) {
    .contact-index-index .column:not(.sidebar-additional) .form.contact {
        min-width: 600px;
    }
}

@media (max-width: 768px) {
    .contact-index-index .column:not(.sidebar-main) .form.contact {
        float: none;
        width: 100%;
    }

    .contact-index-index .column:not(.sidebar-additional) .form.contact {
        float: none;
        width: 100%;
    }
}

