// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

//  PayPal checkout button
.paypal {
    &.after {
        &:before {
            content: '- ' attr(data-label) ' -';
            display: block;
            margin: var(--indent__xs) var(--indent__xs) var(--indent__s);
            text-transform: uppercase;
        }
    }

    &.before {
        &:before {
            content: '- ' attr(data-label) ' -';
            display: block;
            margin: var(--indent__s) var(--indent__xs);
            text-align: center;
            text-transform: uppercase;
        }
    }

    &.acceptance {
        display: block;
        margin: 0 0 var(--indent__base);

        img {
            max-width: 100%;
        }
    }
}

.box-tocart,
.block-minicart {
    .paypal img {
        display: block;
        margin: 0 auto;
    }
}

.paypal-button-widget {
    .paypal-button {
        //&:extend(.abs-action-button-as-link all);
    }
}
