.form.send.friend {
    //&:extend(.abs-add-fields all);
}

.action.mailto.friend {
    margin-left: -7px;
    //.lib-icon-font(
    //    var(--_icon-font-content): var(--icon-envelope),
    //    var(--_icon-font-size): 28px,
    //    var(--_icon-font-line-height): 28px,
    //    var(--_icon-font-vertical-align): top
    //);

    & span {
        display: inline-block;
        line-height: 28px;
        vertical-align: top;
    }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    .form.send.friend {
        //&:extend(.abs-add-fields-desktop all);
    }
}
