.block-reward-info :is(.reward-rates, .reward-limit, .reward-expiring):not(:last-child) {
    margin-bottom: var(--indent__m);
}

.block-reward-info :is(.reward-rates, .reward-limit, .reward-expiring) .title {
    display: inline-block;
    margin-bottom: var(--indent__s);
}

@media (max-width: env(--screen__m)) {
    .reward-settings + .actions-toolbar {
        margin-top: 10px;
    }
}

@media (min-width: env(--screen__m)) {
    .reward-settings + .actions-toolbar {
        margin-top: -32px;
    }
}
