/* DROPDOWNS VARIABLES */

:root {

    /* Variables simple dropdown */

    --dropdown-actions__padding: false;

    --dropdown-list__min-width: 100%;
    --dropdown-list__width: false;
    --dropdown-list__height: false;
    --dropdown-list__margin-top: 4px;
    --dropdown-list__position-top: 100%;
    --dropdown-list__position-right: false;
    --dropdown-list__position-bottom: false;
    --dropdown-list__position-left: false;
    --dropdown-list__pointer: true; /* [true|false] */
    --dropdown-list__background: var(--color-white);
    --dropdown-list__border: 1px solid var(--color-gray-light2);
    --dropdown-list__shadow: 0 3px 3px rgba(0, 0, 0, .15); /* [''|none|value] */
    --dropdown-list__z-index: 100;

    --dropdown-list-pointer__border: var(--color-gray-light2);
    --dropdown-list-pointer__position: left; /* [left|right] */
    --dropdown-list-pointer__position-top: -12px;
    --dropdown-list-pointer__position-left-right: 10px;

    --dropdown-list-item__border: 0;
    --dropdown-list-item__padding: 3px var(--indent__xs);
    --dropdown-list-item__margin: 0;
    --dropdown-list-item__hover: var(--color-gray91);

    --dropdown-toggle-icon__content: var(--icon-pointer-down);
    --dropdown-toggle-icon__font: var(--button-icon__font);
    --dropdown-toggle-icon__font-size: var(--button-icon__font-size);
    --dropdown-toggle-icon__font-line-height: var(--button-icon__line-height);
    --dropdown-toggle-icon__font-color: var(--button-icon__color);
    --dropdown-toggle-icon__font-color-hover: var(--button-icon__hover__font-color);
    --dropdown-toggle-icon__font-color-active: var(--button-icon__active__font-color);
    --dropdown-toggle-icon__font-margin: var(--button-icon__margin);
    --dropdown-toggle-icon__position: after;
    --dropdown-toggle-icon__font-vertical-align: var(--button-icon__vertical-align);
    --dropdown-toggle-icon__text-hide: var(--button-icon__text-hide);

    --dropdown-toggle-icon__active__content: var(--icon-pointer-up);

    /* Variables split dropdown */

    --dropdown-split-actions__padding: 0 --indent__xs;
    --dropdown-split-toggle__actions__padding: 4px --indent__xs;
    --dropdown-split-button__actions__padding: false;
    --dropdown-split-toggle__position: right;

    --dropdown-split-list__min-width: var(--dropdown-list__min-width);
    --dropdown-split-list__width: var(--dropdown-list__width);
    --dropdown-split-list__height: var(--dropdown-list__height);
    --dropdown-split-list__margin-top: var(--dropdown-list__margin-top);
    --dropdown-split-list__position-top: var(--dropdown-list__position-top);
    --dropdown-split-list__position-right: var(--dropdown-list__position-right);
    --dropdown-split-list__position-bottom: var(--dropdown-list__position-bottom);
    --dropdown-split-list__position-left: var(--dropdown-list__position-left);
    --dropdown-split-list__background: var(--dropdown-list__background);
    --dropdown-split-list__border: var(--dropdown-list__border);
    --dropdown-split-list__pointer: var(--dropdown-list__pointer);
    --dropdown-split-list__pointer-border: var(--dropdown-list-pointer__border);
    --dropdown-split-list__pointer-position: var(--dropdown-split-toggle__position);
    --dropdown-split-list__pointer-position-top: var(--dropdown-list-pointer__position-top);
    --dropdown-split-list__pointer-position-left-right: var(--dropdown-list-pointer__position-left-right);
    --dropdown-split-list__item-border: var(--dropdown-list-item__border);
    --dropdown-split-list__item-padding: var(--dropdown-list-item__padding);
    --dropdown-split-list__item-margin: var(--dropdown-list-item__margin);
    --dropdown-split-list__item-hover: var(--dropdown-list-item__hover);

    --dropdown-split-button__border-radius-fix: false;
    --dropdown-split-list__shadow: var(--dropdown-list__shadow); /* [''|none|value] */
    --dropdown-split-list__z-index: var(--dropdown-list__z-index);

    --dropdown-split-toggle-icon__content: var(--dropdown-toggle-icon__content);
    --dropdown-split-toggle-icon__font: var(--button-icon__font);
    --dropdown-split-toggle-icon__font-size: var(--button-icon__font-size);
    --dropdown-split-toggle-icon__font-line-height: var(--button-icon__line-height);
    --dropdown-split-toggle-icon__font-color: var(--button-icon__color);
    --dropdown-split-toggle-icon__font-color-hover: var(--button-icon__hover__font-color);
    --dropdown-split-toggle-icon__font-color-active: var(--button-icon__active__font-color);
    --dropdown-split-toggle-icon__font-margin: var(--button-icon__margin);
    --dropdown-split-toggle-icon__font-vertical-align: var(--button-icon__vertical-align);
    --dropdown-split-toggle-icon__position: var(--dropdown-toggle-icon__position);
    --dropdown-split-toggle-icon__text-hide: true; /* [true|false] */

    --dropdown-split-toggle-icon__active__content: var(--dropdown-toggle-icon__active__content);
}
