/* MESSAGES VARIABLES */

:root {
    --message__padding: var(--indent__s) var(--indent__base);
    --message__margin: 0 0 var(--indent__s);

    --message__color: false; /* Each message type has its own message color */
    --message__font-size: 13px;
    --message__font-family: false;
    --message__font-style: false;
    --message__font-weight: false;
    --message__line-height: 1.2em;

    --message-icon__font-size: calc(var(--message__font-size) * 2 + 2);
    --message-icon__font-line-height: var(--message-icon__font-size);
    --message-icon__inner-padding-left: 40px;
    --message-icon__lateral-width: 30px;
    --message-icon__lateral-arrow-size: 5px;
    --message-icon__top: 18px;
    --message-icon__right: false;
    --message-icon__bottom: false;
    --message-icon__left: 0;

    --message__border-width: false;
    --message__border-color: false;
    --message__border-style: false;
    --message__border-radius: false;

    /*  Information message */
    --message-info__color: var(--color-brownie1);
    --message-info__background: var(--color-yellow-light1);
    --message-info__border-color: var(--message__border-color);

    --message-info-link__color: var(--link__color);
    --message-info-link__color-hover: var(--link__hover__color);
    --message-info-link__color-active: var(--link__hover__color);

    --message-info-icon: var(--icon-warning);
    --message-info-icon__color-inner: var(--color-brownie-light1);
    --message-info-icon__color-lateral: var(--color-white);
    --message-info-icon__background: var(--color-brownie1);
    --message-info-icon__top: var(--message-icon__top);
    --message-info-icon__right: var(--message-icon__right);
    --message-info-icon__bottom: var(--message-icon__bottom);
    --message-info-icon__left: var(--message-icon__left);

    /*  Warning message */
    --message-warning__color: var(--message-info__color);
    --message-warning__background: var(--message-info__background);
    --message-warning__border-color: var(--message-info__border-color);

    --message-warning-link__color: var(--message-info-link__color);
    --message-warning-link__color-hover: var(--message-info-link__color-hover);
    --message-warning-link__color-active: var(--message-info-link__color-active);

    --message-warning-icon: var(--message-info-icon);
    --message-warning-icon__color-inner: var(--message-info-icon__color-inner);
    --message-warning-icon__color-lateral: var(--message-info-icon__color-lateral);
    --message-warning-icon__background: var(--message-info-icon__background);
    --message-warning-icon__top: var(--message-icon__top);
    --message-warning-icon__right: var(--message-icon__right);
    --message-warning-icon__bottom: var(--message-icon__bottom);
    --message-warning-icon__left: var(--message-icon__left);

    /*  Error message */
    --message-error__color: var(--error__color);
    --message-error__background: var(--color-pink1);
    --message-error__border-color: var(--message__border-color);

    --message-error-link__color: var(--link__color);
    --message-error-link__color-hover: var(--link__hover__color);
    --message-error-link__color-active: var(--link__hover__color);

    --message-error-icon: var(--icon-warning);
    --message-error-icon__color-inner: var(--color-red11);
    --message-error-icon__color-lateral: var(--color-white);
    --message-error-icon__background: var(--color-red11);
    --message-error-icon__top: var(--message-icon__top);
    --message-error-icon__right: var(--message-icon__right);
    --message-error-icon__bottom: var(--message-icon__bottom);
    --message-error-icon__left: var(--message-icon__left);

    /*  Success message */
    --message-success__color: var(--color-dark-green1);
    --message-success__background: var(--color-gray-light1);
    --message-success__border-color: var(--message__border-color);

    --message-success-link__color: var(--link__color);
    --message-success-link__color-hover: var(--link__hover__color);
    --message-success-link__color-active: var(--link__hover__color);

    --message-success-icon: var(--icon-checkmark);
    --message-success-icon__color-inner: var(--color-dark-green1);
    --message-success-icon__color-lateral: var(--color-white);
    --message-success-icon__background: var(--color-dark-green1);
    --message-success-icon__top: var(--message-icon__top);
    --message-success-icon__right: var(--message-icon__right);
    --message-success-icon__bottom: var(--message-icon__bottom);
    --message-success-icon__left: var(--message-icon__left);

    /*  Notice message */
    --message-notice__color: var(--message-info__color);
    --message-notice__background: var(--message-info__background);
    --message-notice__border-color: var(--message-info__border-color);

    --message-notice-link__color: var(--message-info-link__color);
    --message-notice-link__color-hover: var(--message-info-link__color-hover);
    --message-notice-link__color-active: var(--message-info-link__color-active);

    --message-notice-icon: var(--message-info-icon);
    --message-notice-icon__color-inner: var(--message-info-icon__color-inner);
    --message-notice-icon__color-lateral: var(--message-info-icon__color-lateral);
    --message-notice-icon__background: var(--message-info-icon__background);
    --message-notice-icon__top: var(--message-icon__top);
    --message-notice-icon__right: var(--message-icon__right);
    --message-notice-icon__bottom: var(--message-icon__bottom);
    --message-notice-icon__left: var(--message-icon__left);
}
