//
//  Rating variables
//  _____________________________________________

:root {
    --rating-icon__count: 5;
    --rating-icon__content: var(--icon-star);
    --rating-icon__font: var(--icon-font);
    --rating-icon__font-size: 28px;
    --rating-icon__letter-spacing: -10px;
    --rating-icon__color: var(--color-gray78);

    --rating-icon__active__color: var(--active__color);

    --rating-label__hide: false;
}
