/* SECTIONS VARIABLES */

:root {
    /* Tabs controls */
    --tab-control__font-size: var(--font-size__base);
    --tab-control__font-family: false;
    --tab-control__font-weight: var(--font-weight__semibold);
    --tab-control__font-style: false;
    --tab-control__line-height: var(--tab-control__height);
    --tab-control__height__base: var(--line-height__computed);
    --tab-control__height: var(--indent__base);
    --tab-control__margin-right: var(--indent__xs);
    --tab-control__padding-top: var(--indent__xs);
    --tab-control__padding-right: var(--indent__base);
    --tab-control__padding-bottom: var(--tab-control__padding-top);
    --tab-control__padding-left: var(--tab-control__padding-right);
    --tab-control__border-color: var(--border-color__base);
    --tab-control__border-width: var(--border-width__base);

    /* Current tab */
    --tab-control__background-color: var(--panel__background-color);
    --tab-control__color: var(--text__color__muted);
    --tab-control__text-decoration: none;

    --tab-control__hover__background-color: rgba(var(--tab-control__background-color), 0.95);
    --tab-control__hover__color: var(--tab-control__color);
    --tab-control__hover__text-decoration: var(--tab-control__text-decoration);

    --tab-control__active__background-color: rgba(var(--tab-control__background-color), 0.85);
    --tab-control__active__color: var(--text__color);
    --tab-control__active__text-decoration: var(--tab-control__text-decoration);

    --tab-control__visited__color: var(--tab-control__color);
    --tab-control__visited__text-decoration: var(--tab-control__text-decoration);

    --tab-content__background-color: var(--tab-control__active__background-color);
    --tab-content__border-top-status: false;
    --tab-content__border: var(--tab-control__border-width) solid var(--tab-control__border-color);
    --tab-content__margin-top: calc(var(--tab-control__height) + var(--tab-control__border-width) + var(--tab-control__padding-top) + var(--tab-control__padding-bottom));
    --tab-content__padding-top: var(--indent__base);
    --tab-content__padding-right: var(--indent__base);
    --tab-content__padding-bottom: var(--tab-content__padding-top);
    --tab-content__padding-left: var(--tab-content__padding-right);

    /* Accordions */
    --accordion-control__font-family: var(--tab-control__font-family);
    --accordion-control__font-size: var(--font-size__l);
    --accordion-control__font-style: var(--tab-control__font-style);
    --accordion-control__font-weight: var(--tab-control__font-weight);
    --accordion-control__line-height: var(--accordion-control__height);
    --accordion-control__border-top: var(--tab-control__border-width) solid var(--tab-control__border-color);
    --accordion-control__border-right: var(--tab-control__border-width) solid var(--tab-control__border-color);
    --accordion-control__border-bottom: var(--tab-control__border-width) solid var(--tab-control__border-color);
    --accordion-control__border-left: var(--tab-control__border-width) solid var(--tab-control__border-color);
    --accordion-control__background-color: var(--tab-control__background-color);
    --accordion-control__color: var(--tab-control__color);
    --accordion-control__text-decoration: var(--tab-control__text-decoration);
    --accordion-control__height: var(--indent__xl);
    --accordion-control__margin-bottom: var(--indent__xs);
    --accordion-control__padding-top: var(--tab-control__padding-top);
    --accordion-control__padding-right: var(--indent__base);
    --accordion-control__padding-bottom: var(--tab-control__padding-bottom);
    --accordion-control__padding-left: var(--accordion-control__padding-right);

    --accordion-control__visited__color: var(--tab-control__visited__color);
    --accordion-control__visited__text-decoration: var(--tab-control__visited__text-decoration);

    --accordion-control__hover__background-color: var(--tab-control__hover__background-color);
    --accordion-control__hover__color: var(--tab-control__hover__color);
    --accordion-control__hover__text-decoration: var(--tab-control__hover__text-decoration);

    --accordion-control__active__background-color: var(--tab-control__active__background-color);
    --accordion-control__active__color: var(--tab-control__active__color);
    --accordion-control__active__text-decoration: var(--tab-control__active__text-decoration);

    --accordion-content__background-color: var(--tab-control__active__background-color);
    --accordion-content__border: var(--tab-content__border);
    --accordion-content__margin: 0 0 var(--indent__xs);
    --accordion-content__padding: var(--tab-content__padding-top) var(--tab-content__padding-right) var(--tab-content__padding-bottom) var(--tab-content__padding-left);
}
