.block.filter {
    margin-bottom: var(--indent__xl);
}

.block.filter .filter-title {
    margin-bottom: var(--indent__base);
}

.block.filter .filter-title strong {
    font-size: 18px;
}

.block-subtitle {
    display: inline-block;
    margin-bottom: var(--indent__s);
}

.filter-current .item {
    margin-bottom: var(--indent__s);
}

.filter-current .filter-label {
    display: block;
    font-weight: var(--font-weight__bold);
}

.filter-current .filter-label:after {
    content: ':';
}

.filter-current + .filter-actions {
    margin-bottom: var(--indent__l);
}

.filter-options-content .filter-count-label {
    /*&:extend(.abs-visually-hidden all);*/
}

.filter-options {
    margin: 0;
}

.filter-options .filter-options-title {
    margin: 0 0 var(--indent__s);
    word-break: break-all;
}

.filter-options .filter-options-content {
    margin: 0 0 var(--indent__m);
}

.filter-options .filter-options-content .item {
    margin-bottom: 3px;
}

.filter-options .count {
    color: var(--text__color__muted);
}

.filter-options .count:before {
    content: '(';
}

.filter-options .count:after {
    content: ')';
}

.filtered .items {
    margin: 15px 0;
}

.filtered .item {
    margin-bottom: 6px;
    padding-left: 22px;
    position: relative;
}

.filtered .item .label {
    font-weight: var(--font-weight__bold);
}

.filtered .item .action.remove {
    /*&:extend(.abs-remove-button-for-blocks all);*/
    left: -6px;
    position: absolute;
    top: 0;
}

.filtered + .actions {
    margin-bottom: 35px;
}

@media (max-width: 768px) {
    .page-with-filter .columns .sidebar-main {
        order: 0;
    }
}

