/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
*/

.contact-index-index {
    .column:not(.sidebar-main) {
        .form.contact {
            float: none;
            width: 50%;
        }
    }

    .column:not(.sidebar-additional) {
        .form.contact {
            float: none;
            width: 50%;
        }
    }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    .contact-index-index .column:not(.sidebar-additional) .form.contact {
        min-width: 600px;
    }
}

//  Mobile
@media (max-width: env(--screen__m)) {
    .contact-index-index {
        .column:not(.sidebar-main) {
            .form.contact {
                float: none;
                width: 100%;
            }
        }

        .column:not(.sidebar-additional) {
            .form.contact {
                float: none;
                width: 100%;
            }
        }
    }
}

