// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

:root {
    --collapsible-nav-background: var(--sidebar__background-color);
    --collapsible-nav-color: var(--color-gray34);
    --collapsible-nav-current-border: 3px solid transparent;
    --collapsible-nav-current-border-color: var(--active__color);
    --collapsible-nav-current-color: var(--color-black);
    --collapsible-nav-current-font-weight: var(--font-weight__semibold);
    --collapsible-nav-delimiter__border-color: var(--color-gray82);
    --collapsible-nav-item-hover: var(--color-gray91);
}

//
//  Collapsible navigation
//  -----------------------------------------

.block-collapsible-nav {
    .content {
        background: var(--collapsible-nav-background);
        padding: 15px 0;
    }
    .item {
        margin: 3px 0 0;
        &:first-child {
            margin-top: 0;
        }

        a,
        > strong {
            border-left: 3px solid transparent;
            color: var(--collapsible-nav-color);
            display: block;
            padding: 5px 18px 5px 15px;
        }

        a {
            text-decoration: none;

            &:hover {
                background: var(--collapsible-nav-item-hover);
            }
        }

        &.current {
            a,
            > strong {
                border-color: var(--collapsible-nav-current-border-color);
                color: var(--collapsible-nav-current-color);
                font-weight: var(--collapsible-nav-current-font-weight);
            }

            a {
                border-color: var(--collapsible-nav-current-border-color);
            }
        }

        .delimiter {
            border-top: 1px solid var(--collapsible-nav-delimiter__border-color);
            display: block;
            margin: var(--indent__s) 1.8rem;
        }
    }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: env(--screen__m)) {
    .block-collapsible-nav {
        .title {
            //&:extend(.abs-visually-hidden-desktop all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

@media (max-width: env(--screen__m)) {
    .block-collapsible-nav {
        left: 0;
        position: absolute;
        top: -21px;
        width: 100%;
        z-index: 5;

        .title {
            //&:extend(.abs-toggling-title-mobile all);
        }

        .content {
            border-bottom: var(--border-width__base) solid var(--border-color__base);
            display: none;

            &.active {
                display: block;
            }
        }
    }
}
